    <nav class="navbar bg-white navbar-light navbar-expand-md fixed-top border-bottom shadow-sm">
      <div class="container">
        <a class="navbar-brand" href="/"><b>网站标题</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <a class="nav-item nav-link active" href="/">首页</a>
            <a class="nav-item nav-link active" href="about.html">关于</a>
          </ul>

          <ul class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" href="https://github.com/liujiuzhou">Github</a>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div class="container"></div>
    </header>